<!doctype html>
<html lang="en">
    <head>
        <title>Image Search</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="/public/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                FreeCodeCamp API Basejump: Image Search Abstraction Layer
            </h1>
            <blockquote>
                What do I do:
                <ul>Use this API to to do a web search for images</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://mat-imagesearch.glitch.me/api/images/Your-Search-Term</code><br>
            <h3>To paginate:</h3>
            <code>https://mat-imagesearch.glitch.me/api/images/Your-Search-Term?offset=Page-Number</code><br>
            <h3>To get the last 10 search phrases:</h3>
            <code>https://mat-imagesearch.glitch.me/api/latest/imagesearch</code>
      </div>
    </body>
</html>